{% load static %}

<link rel="stylesheet" href="{% static 'app/' %}css/login.css">

{% block contenido %}
<body>
    <h1>¡Bienvenido!</h1>
    
        <section class="seccion">
            <form action="" method="post">
            <h2>Inicia sesión</h2>
            <label class="labels"> Rut </label>
            <input class="inp" type="text" name="inputRut" id="inputemail" placeholder="Ingrese su Rut">
            <label class="labels"> Contraseña </label>
            <input class="inp" type="text" name="inputcontraseña" id="inputcontraseña"
                placeholder="Ingrese su contraseña">
            <input class="boton" type="button" value="Iniciar sesión">
                <div class="referencias">
                    <a href="#">¿Olvidaste tu contraseña?</a>
                </div>
            </form>
            <p>No tienes cuenta?<a class="a" href="{% url 'register' %}">registrate</a></p>
        </section>
    
</body>
{% endblock contenido %}