{% load static %}

<link rel="stylesheet" href="{% static 'app/' %}css/register.css "> 

{% block contenido %}
<body>
    <h1>¡Registro!</h1>

    <section class="seccion">
        <form action="" method="post">
            <h2>Formulario de registro</h2>
            {% csrf_token %}
            {{form.as_p}}

            <input class="boton" type="submit" value="Registrar">
        </form>

        <p>Ya tienes cuenta?<a class="a" href="{% url 'login' %}">logeate</a></p>
    </section>
</body>

{% endblock contenido %}
