{% load static %}

<link rel="stylesheet" href="{% static 'app/' %}css/register.css "> 

{% block contenido %}
<body>
    <h1>¡Registro!</h1>
    <form action="" method="post">
        <section class="seccion">
            <h2>Formulario de registro</h2>
            <label class="labels"> Nombre </label>
            <input class="inp" type="text" name="nombre_usuario" id="nombre_usuario" placeholder="Ingrese su nombre completo">
            <label class="labels"> Rut </label>
            <input class="inp" type="text" name="rut_usuario" id="rut_usuario" placeholder="Ingrese su contraseña">
            <label class="labels">Correo</label>
            <input class="inp" type="text" name="" id="" placeholder="Ingrese su email">

            <input class="boton" type="button" value="Registrar">
        </section>
    </form>

</body>

{% endblock contenido %}
